/backup_td_utility_disk_small.atr
/backup_td_extractor.xex
/backup_td_utility_disk.atr
/build/atr1.bin
/build/atr1.lst
/build/atr1_s.bin
/build/atr1_s.lst
/build/atr2.bin
/build/atr2.lst
/build/atr2_s.bin
/build/atr2_s.lst
/build/atrc.lst
/build/atrc_s.lst
/build/backtd.atr
/build/backtd.bot
/build/backtd.lst
/build/backtd_0.atr
/build/backtd_0_s.atr
